/* --- Fonts Importing --- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Quicksand:wght@300&family=Rufina&display=swap');

/* ---- TODO ---- */
/* ---- Fix cards responsiveness and flex properties 
ScrollMagic---- */

/* ---- Color Pallete ---- */


:root {
	--white: #ECF0F1;
	--silver: #BDC3C7; 
    --green: #2ECC71;
    --WetAsphalt: #34495E;
    --MNBlue: #2C3E50;
    --blue: #3498DB;
    --Concrete: #95A5A6;
}

@keyframes title-anim {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
    
}
/* ---- General Rules ---- */
html {
  scroll-behavior: smooth;
}

::selection {
    background: var(--silver);
}

body {
    background: var(--white);
    margin: 0;
    color: var(--MNBlue);
}

/* Base Rules*/
h1 {
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0em;
}

h2 {
    border-bottom: 5px dotted var(--MNBlue);
}

.sectionTitle {
    font-family: 'Lato', Sans-Serif;
    font-size: 2.5em;
    background: linear-gradient(
        to right,
        var(--blue),
        var(--green),
        var(--blue)
    );
    animation: title-anim 5s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
}

.sectionTitle::selection {
    -webkit-text-fill-color: black;
}

.sectionTitle:hover {
    animation-play-state: paused;

}

p {
    font-size: 27px;
    color: var(--WetAsphalt);
    font-family: 'Lato', Sans-Serif;
    line-height: 0.9;
}

span {
    font-size: 18px;
    color: var(--WetAsphalt);
    font-family: 'Quicksand', sans-serif;
}

.green {
	font-weight: normal;
    color: var(--green);
}

.blue {
	font-weight: normal;
	color: var(--blue);
}

#Bio {
    position: relative;
    min-height: 66vh;
    margin-top: 1em;
}

#Bio .section {
    font-size: 22px;
    margin-bottom: 0;
}

#Bio .subsection {
    font-size: 18px;
    margin-top: 0.6em;
    margin-bottom: 0;
}

section {
    position: relative;
}

/* ---- Layout Rules ---- */

main {
    margin: 10vh 0em 5vh;
}

.container {
    max-width: 70em;
    padding: 0em 3em 0em 3em;
    text-align: left;
}

/* ---- Portfolio ---- */

.cardContainer {
    width: 100%;
    display: inline-flex;
}

.card {
    background-color: #dfdfdf;
    border-radius: 10px;
    width: 30%;
    margin-top: 25px;
    margin-right: 30px;
}

.cardBody {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cardImage {
    aspect-ratio: 300/250;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.cardText {
    padding: 1vw;
}

.cardTitle {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 500;
}

.cardDesc {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;

}

.cardButton {
    margin-top: auto;
    text-align: center;
}

.cardButton a {
    font-size: 16px;
    color: var(--white);
    background-color: #198754;
    border: 1px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 13px;
    border-radius: 6px;
    transition: color 0.4s;
    margin-bottom: 10px;
    font-family: "Segoe UI", Arial, sans-serif;
}

.cardButton a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardButton .notAllowed {
    cursor: not-allowed;
    box-shadow: none;
    background-color: gray;
}

.cardButton .notAllowed:hover {
    box-shadow: none;
}

/* ---- Socials ---- */

.Socials {
    align-self: center;
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
}

.SocialContainer {
    font-size: 20px;
    color: var(--silver);
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
}

.SocialContainer a {
    font-size: 36px;
    color: var(--MNBlue);
    transition: color 0.4s;
    text-decoration: none;
}
  
.SocialContainer a:hover {
    color: var(--Concrete)
  }

span a {
    max-height: 64px;
}

/* Header Styles */

.navbarContainer {
    background-color: var(--WetAsphalt);
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 5;
	align-self: center;
    align-items: center;
    display: inline-flex;  
}

.menu__link {
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    font-family: 'Lato', Sans-Serif;
    padding: 0.5em;
    text-decoration: none;
    color: var(--white);
    transition: ease 0.4s all;
}

.menu__link:hover {
    background: var(--silver);
    color: var(--MNBlue);
    transition: ease 0.4s all;
}

/* Footer Styles */
.page__footer {
    background: var(--WetAsphalt);
    padding: 10px;
}

.page__footer span{
    color: var(--white);
}

@media only screen and (max-width: 700px){
    .navbarContainer {
        justify-content: space-evenly;
    }
    .menu__link {
        padding-left: 5px;
        padding-right: 5px;
    }
    .container {
        padding: 0em 2em 0em 2em;
    }
    .cardContainer {
        display: flex;
        flex-direction: column;
	    align-self: center;
        align-items: center;
    }
    .card {
        width: 80%;
        margin-top: 100px;
        height: 360px;
    }
    h2 {
        margin-top: 50px;
    }
}
